

.game-content{
    padding: 11.2% ;
    justify-content: center;
    align-content: center;
    
}

.container-fluid{
    justify-content: center;
    align-content: center;
    
}

.header{
    text-align: center;
}

.form-container{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/*Breakout styles*/

.grid{
    position: absolute;
    width: 1200px;
    height: 300px;
    border: solid black thin;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(100, 148, 237);
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(223, 118, 86);
}

